pathvalidate
httpx
requests
charset_normalizer
mutagen
tqdm
beautifulsoup4
colorama
cryptography
keyring
aiohttp
questionary
prompt_toolkit
# lyricsgenius e' opcional -- instale com: pip install "qobuz-dl-ultra[genius]"
# lyricsgenius
